<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Liên kết tới tệp CSS của PrismJS -->
    <link href="https://cdn.jsdelivr.net/npm/prismjs@1.24.1/themes/prism.css" rel="stylesheet" />

    <!-- Liên kết tới tệp JavaScript của PrismJS -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.24.1/prism.js"></script>

</head>

<body>
    <h3>Lesson 18</h3>
    <pre>
        <code class="language-javascript">
            function helloWorld() {
                console.log("Not update, yet");
            }
        </code>
    </pre>

</body>

</html>